BLOCK_CYPHER_CHAIN=block_chain
BLOCK_CYPHER_TOKEN=block_token
PORT=5005
REDIS_PORT=6337
REDIS_HOST=localhost
#REDIS_PASSWORD=
#PUBLIC_URL_CLIENT=
NGROK_URL=https://{{token}}.ngrok.io

DATABASE_HOST=localhost
DATABASE_PORT=27217
DATABASE_USERNAME=eeriegg
DATABASE_PASSWORD=eerieggpassword
